{{! A card styled using tailwind. It has a heading and a body. }}
<li class="bg-white rounded-lg px-6 py-4 border hover:border-indigo-500">
  <div class="flex justify-between">
    <a href="/recipes/{{id}}" class="text-lg font-semibold text-gray-800">{{title}}
      -
      <span class="italic">{{description}}</span></a>
    <a href="/recipes/{{id}}/delete" class="bg-transparent text-red-500"><span
        data-feather="trash-2"
      /></a>
  </div>
  <ul class="mt-1 text-md text-gray-600">
    {{#each ingredients}}
      <li>{{this.name}} ({{this.quantity}} {{this.unit}})</li>
    {{/each}}
  </ul>
</li>